* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

.body {
}

.calculator {
	background-color: #eff8f5;
}

.calculator__title {
	padding-top: 100px;
	padding-bottom: 50px;
	text-align: center;	
	text-transform: uppercase;	
	font-family: "Museo Sans Cyrl 900", serif;	
	font-size: 46px;	
	line-height: 70px;
}

.first-line {
	margin: 0;
	color: #079cff;
}

.second-line {
	margin: 0;
	color: #303030;
}

.calculator__inner {
	display: flex;
	justify-content: space-between;
	margin: auto;
	padding: 70px 100px;
	height: 775px;
	width: 1530px;
	background-color: #ffffff;
	border-radius: 18px;
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.calculator__parameters {
	width: 35%;
}
.parameters__title {
	margin: 0;
	text-transform: uppercase;
	font-family: "Museo Sans Cyrl 700", serif;
	font-size: 22px;
	line-height: 26px;
	color: #303030;
}

.parameters__text {
	font-family: "Museo Sans Cyrl 300", serif;
	font-size: 22px;
	line-height: 26px;
	color: #303030;
}

.parameters__wrapper {
	padding-top: 35px;
}

.parameter__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.parameter-header__title {
	font-family: "Museo Sans Cyrl 300", serif;
	font-size: 16px;
	line-height: 26px;
	color: #303030;
}

.parameter-header__input {
	width: 190px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.parameter-header__input input {
	width: 100px;
	height: 40px;
	border-radius: 4px;
	border: 1px solid #e2e2e2;
	background: radial-gradient(#f8f8f8, #e2e2e2);
	font-family: "Museo Sans Cyrl 100", serif;
	font-size: 16px;
	line-height: 26px;
	color: #303030;
	text-align: center;
}

.error {
  border-color: tomato;
  border-width: 2px;
  border-radius: 2px;
}

.btn-input__right {
	width: 30px;
	height: 30px;
	background: linear-gradient(to top, #ffbc37, #ffe98b);
	border-radius: 15px;
	border: none;
	position: relative;
}

.btn-input__right::before {
	content: " ";
	width: 0;
	height: 0;
	left: 12px;
	top: 10px;
	border-top: 6px solid transparent;
	border-left: 9px solid #fff;
	border-bottom: 6px solid transparent;
	position: absolute;
}

.btn-input__left {
	width: 30px;
	height: 30px;
	background: linear-gradient(to top, #ffbc37, #ffe98b);
	border-radius: 15px;
	border: none;
	position: relative;
}

.btn-input__left::before {
	content: " ";
	width: 0;
	height: 0;
	right: 12px;
	top: 10px;
	border-top: 6px solid transparent;
	border-right: 9px solid #fff;
	border-bottom: 6px solid transparent;
	position: absolute;
}

button:hover {
	background: #ffbc37;
}

button, 
button:active, 
button:focus {
	outline: none;
}

.parameter__slider {
	padding-top: 25px;
}

input[type=range] {
	-webkit-appearance: none;
	width: 100%;
	height: 6px;
	background: linear-gradient(to bottom, #e6e5e5, #f4f4f4);
	outline: none;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	border: 4px solid #ffc93d;
	border-radius: 14px;
	height:14px;
	width:14px;
	cursor: pointer;
}

input[type=range]::-moz-range-thumb {
	border: 4px solid #ffc93d;
	border-radius: 14px; 
	border: 4px solid #ffc93d;
	border-radius: 14px;
	height:14px;
	width:14px;
	cursor: pointer;
}

.parameter__footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 15px;
}

.text__left,
.text__right {
	font-family: "Museo Sans Cyrl 100", serif;
	font-size: 16px;
	line-height: 26px;
}

.calculator__result {
	width: 60%;
}

.result__inner img {
	width: 100%;
}

.result__wrapper {
	padding-top: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.result__title {
	font-family: "Museo Sans Cyrl 300", serif;
	font-size: 22px;
	line-height: 32px;
	color: #303030;
}

.result__input input{
	margin-left: 20px;
	margin-right: 20px;
	width: 210px;
	height: 90px;
	border-radius: 8px;
	border: 1px solid #ededed;
	background: radial-gradient(#f8f8f8, #ededed);
	font-family: "Museo Sans Cyrl 700", serif;
	font-size: 16px;
	line-height: 32px;
	color: #303030;
	text-align: center;
}

.result__btn button {
	width: 320px;
	height: 90px;
	border-radius: 8px;
	background: linear-gradient(to top, #ffbd1c, #ffeb91);
	border: none;
	font-family: "Museo Sans Cyrl 700", serif;
	font-size: 16px;
	line-height: 32px;
	color: #303030;
	text-align: center;
}